Repository dnanexus/dxCompiler, pull requests merged in 2022-09, with the labels that each got.

#381 APPS-1366 dxcint test GHA
  .github/workflows/dxcint.yml
  dxcint/pyproject.toml
  dxcint/tests/fixtures/resources/mock_category/mock_1_input.json
  dxcint/tests/test_RegisteredTest.py
Labels: dxcint

#382 APPS-1378 dxcint async tests
  .github/workflows/dxcint.yml
  dxcint/dxcint/Context.py
  dxcint/dxcint/Dependency.py
  dxcint/dxcint/Logger.py
  dxcint/dxcint/Messenger.py
  dxcint/dxcint/RegisteredTest.py
  dxcint/dxcint/RegisteredTestFactory.py
  dxcint/dxcint/Terraform.py
  dxcint/dxcint/TestDiscovery.py
  dxcint/dxcint/cli.py
  dxcint/dxcint/testclasses/ExpectedFailure.py
  dxcint/dxcint/utils.py
  dxcint/tests/conftest.py
  dxcint/tests/test_Messenger.py
  dxcint/tests/test_RegisteredTest.py
Labels: dxcint

#388 APPS-1381 Fix for struct change recompile
  RELEASE_NOTES.md
  compiler/src/main/scala/dx/translator/wdl/CallableTranslator.scala
  compiler/src/test/resources/struct/apps_1381_ori.wdl
  compiler/src/test/resources/struct/apps_1381_prime.wdl
  compiler/src/test/scala/dx/compiler/CompilerTest.scala
Labels: integration

#391 Update ExpertOptions.md
  doc/ExpertOptions.md
Labels: documentation, minor
